.container {
  z-index: 10;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  position: absolute;
  padding: 20px 30px;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    animation: success 4s;
  }
}

@keyframes success {
  0% {
    opacity: 1;
  }
  25% {
    top: 50%;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: 50%;
    opacity: 0;
  }
}