.submitButton {
  padding: 10px 20px;
  background-color: rgba(17, 34, 51, 1);
  transition: all 0.4s;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: rgba(17, 34, 51, 0.5);
  }
}

.root {
  text-align: end;
}